@model HuskyRescue.Core.ViewModel.Entity.Base

@Html.HiddenFor(model => model.ID)
@*<div class="address">
	@Html.EditorFor(model => model.Addresses)
</div>*@
<div class="phonenumber">
	@Html.EditorFor(model => model.PhoneNumbers)
</div>
<div class="emailaddress">
	@Html.EditorFor(model => model.EmailAddresses)
</div>
