@model HuskyRescue.Core.ViewModel.Entity_DonationItemsViewModel
@{
	ViewBag.Title = "DonationAdd";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-container">
	<div class="container1">
		<div id="header1">
			<p id="tagline1">
				<strong>Add New Donation</strong>
			</p>
		</div>
		@using (Html.BeginForm())
  {
			@Html.ValidationSummary(true)
			<fieldset>
				<legend>Entity_DonationItemsViewModel</legend>
				@Html.EditorFor(model => model)
			</fieldset>
	}
		<div>
			@Html.ActionLink("Back to List", "Index")
		</div>
	</div>
</div>
