@{
	ViewBag.Title = "Golf Tournament Sponsors";
}

@Html.Partial("GolfTournamentMenu")

<div class="row">
	<div class="large-12 columns" style="text-align:center">
		<h3 class="subheader">Silent auction items coming soon!</h3>
		<p>Check back soon for updates as we collect the auction items.</p>
	</div>
</div>
