@Html.Partial("GolfTournamentMenu")

<div class="row">
	<!-- Sidebar -->
	<!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="large-3 columns">
		<p>
			<img src="~/Content/Images/Controllers/Events/GolfReg/DSC00002a.jpg" />
		</p>
	</div>
	<!-- Main Content Section -->
	<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
	<div class="large-6 columns">
		<p>Texas Husky Rescue’s 4<sup>th</sup> Annual Golf Tournament will be held once again at the beautiful Coyote Ridge Golf Club in Carrollton.  Coyote Ridge boasts a recently renovated 26,000 square foot clubhouse and has been voted a Top 5 Luxury Course in addition to Best Clubhouse, Best Food, Best Cart Girls & Best Service by Avid Golfer Magazine.  The course and customer service are second to none!</p>
		<p>For your entry fee, you will be treated to a great round of golf, the opportunity to participate in fun course contests, a buffet dinner, an all you can drink “beer bar” as well as a fantastic raffle & silent auction!</p>
		<p>All proceeds from the tournament directly benefit huskies in need throughout Texas by allowing Texas Husky Rescue to do what it does best – rescue and rehabilitate huskies and place them in to permanent, loving forever homes.  Golfers raved about the tournament last year and we hope you’ll join us for what is shaping up to be an even better event this year!</p>
	</div>

	<!-- Sidebar -->
	<!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="large-3 columns">
		<p>
			<img src="~/Content/Images/Controllers/Events/GolfReg/DSC09964a.jpg" />
		</p>
	</div>
</div>

<div class="row">
	<div class="small-6 large-6 large-centered small-centered columns" id="location">
		<ul class="">
			<li class=""><h3>Coyote Ridge Golf Club</h3></li>
			<li class="">(972) 395-7126</li>
			<li class=""><a href="http://www.coyoteridgegolfclub.com">www.coyoteridgegolfclub.com</a></li>
			<li class="">
				<a href="https://www.google.com/maps/?q=1640+W+Hebron+Parkway%2C+Carrollton+TX+75010" target="_blank">
					<span class="">1640 W Hebron Parkway</span>
					<span class="">Carrollton</span>,
					<span class="">TX</span>,
					<span class="">75010</span>
				</a>
			</li>
			<li>&nbsp;</li>
			<li class="">
				<div><span>Friday October 17<sup>th</sup>, 2014</span></div>
				<div><span><strong>Start Time: </strong>12:30pm Registration</span></div>
				<div><span><strong>End Time: </strong>2:00pm Shotgun Start</span></div>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<span class="label sponsorbar backShadow">
			<h1 style="color: white">Sponsors</h1>
		</span>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader text-center">Title Sponsor</h1>
		<div style="position: relative;">
			<a href="http://redvelvetinn.com/" target="_blank">
				<img class="centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/RVI2.png" /></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader text-center">Gold Sponsors</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 large-offset-2 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/Aston_Logo_Twitter.jpg">*@
				</div>
			</div>

			<div class="large-4 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/chewey.png">*@
				</div>
			</div>
			<div class="large-2 columns"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader text-center">Silver Sponsors</h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 large-offset-2 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelreverseimg centerImg center" src="~/content/images/controllers/events/golfreg/SSDFW.jpg">*@
				</div>
			</div>

			<div class="large-4 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/aflac_logo.jpg">*@
				</div>
			</div>
			<div class="large-2 columns"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1 class="subheader text-center">Bronze Sponsors</h1>
	</div>
</div>


<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-4 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" style="height: 200px" src="~/Content/Images/Controllers/Events/GolfReg/DirtyDawgz.png">*@
				</div>
			</div>

			<div class="large-4 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/ShellySessum.jpg">*@
				</div>
			</div>

			<div class="large-4 small-6 columns">
				<div class="panel" style="height: 255px; position: relative;">
					@*<img class="panelReverseImg centerImg center" src="~/Content/Images/Controllers/Events/GolfReg/DW.png">*@
				</div>
			</div>
		</div>
		<!-- End Thumbnails -->
	</div>
</div>
