@Html.Partial("GolfTournamentMenu")

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div id="cornerBanner">Filled</div>
			<h3>Title Sponsor - $5,000</h3>
			<ul>
				<li>Company Name in event title (3rd Annual Texas Husky Rescue Golf Tournament Sponsored by “Your Company”)</li>
				<li>Company logo/name prominently displayed on event banner, in all promotional material and media exposure for tournament</li>
				<li>Twelve playing spots in tournament</li>
				<li>Company signage on all greens</li>
				<li>Company logo/name on all golf cart signage</li>
				<li>Company information provided to all participants</li>
				<li>Recognition at beginning of tournament and awards ceremony</li>
				<li>Mention in our annual newsletter</li>
				<li>Website recognition as Title Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Beverage or Dinner Sponsor - $2,500</h3>
			<ul>
				<li>Eight playing spots in tournament</li>
				<li>Company signage on bar(s), coolers/carts distributing beverages (Beverage Sponsor)</li>
				<li>Company signage on all banquet tables (Dinner Sponsor)</li>
				<li>Company information provided to all participants</li>
				<li>Website recognition as Beverage/Dinner Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Driving Range or Putting Contest Sponsor - $1,500</h3>
			<ul>
				<li>Four playing spots in tournament</li>
				<li>Exclusive signage on driving range or putting green</li>
				<li>Company information provided to all participants</li>
				<li>Website recognition as Driving Range/Putting Contest Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Platinum Sponsor - $1,000</h3>
			<ul>
				<li>Two playing spots in tournament</li>
				<li>Company signage on contest holes (minimum of 3 holes)</li>
				<li>Company information provided to all participants</li>
				<li>Website recognition as Platinum Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Gold Sponsor - $500</h3>
			<ul>
				<li>Two playing spots in tournament</li>
				<li>Company signage on 1 hole</li>
				<li>Website recognition as Gold Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Silver Sponsor - $250</h3>
			<ul>
				<li>One playing spot in tournament</li>
				<li>Company signage on 1 hole</li>
				<li>Website recognition as Silver Sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
		<div class="panel">
			<h3>Bronze Sponsor - $125</h3>
			<ul>
				<li>Company signage on 1 hole</li>
				<li>Website recognition as Bronze sponsor (texashuskyrescue.org)</li>
			</ul>
		</div>
	</div>
</div>
