<link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css' />
<link href="~/Content/Styles/Controllers/Events/Golf.css" rel="stylesheet" type='text/css' />

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<div class="large-12 columns">
	<img src="../../Content/Images/Controllers/Events/GolfReg/Golf2014.png" alt="" title="" class="centerImg" />
</div>
@*<div class="row back backShadow">
	<div class="large-8 push-4 columns">
		<div class="centerArea">
			Texas Husky Rescue’s<br />
			4<sup>th</sup> Annual<br />
			Golf Tournament<br />
			<div>Friday October 17<sup>th</sup>, 2014</div><div>12:30pm Reg · 2:00pm Shotgun Start</div>
		</div>
	</div>
	<div class="large-4 pull-8 columns">
		<div style="position: relative;">
			<img class="backShadow centerImg" src="~/Content/Images/Controllers/Events/GolfReg/GolfLogo.jpg" />
		</div>
	</div>
</div>
<br />*@
<div class="row">
	<div class="small-10 large-10 large-centered small-centered columns" id="navcontainer">
		<ul>
			<li><a class="medium button round customButon" href="/Golf">Event Details</a></li>
			<li><a class="medium button round customButon" href="/GolfRegister">Register</a></li>
			<li><a class="medium button round customButon" href="/GolfSponsors">Sponsorships</a></li>
			<li><a class="medium button round customButon" href="/GolfAuction">Auction Items</a></li>
			@*<li><a class="medium button round customButon" href="/GolfDonate">Donate</a></li>*@
		</ul>
	</div>
</div>
