@{
	ViewBag.Title = "Rolls Royce Raffle";
}
@Styles.Render("~/bundles/events/raffle/css")
@section JavaScript
{
	@Scripts.Render("~/bundles/events/raffle/js")
}

@Html.Partial("RaffleMenu")

<div class="row">
	<!-- Sidebar -->
	<!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="large-3 columns">
		<p>
			<img src="~/Content/Images/Controllers/Events/Raffle/sIMG_1267.jpg" />
		</p>
	</div>
	<!-- Main Content Section -->
	<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
	
	<div class="large-6 columns">
		<h6>Drawing for the Rolls-Royce was held on February 1, 2014</h6>
		<h6>The winners are:</h6>
		<br/>
		<ul>
			<li>3rd Prize: Cisco MinoPro Flip Video Recorder - Scott M.</li>
			<li>2nd Prize: 42" LED 1080p TV - Gordon C.</li>
			<li>1st Prize: $1000 VISA Gift Card - Doug I.</li>
			<li>Grand prize - Wayne W.</li>
		</ul>
		<br/>
		<p>You can watch a video of the raffle on YouTube <a href="https://www.youtube.com/watch?v=EyVOsMRByWs#t=0">here</a>.</p>
		<p>974 Of the 1000 tickets for the raffle were purchased. We raised over $31,000 after fees and other costs related to the raffle. Thank you everyone that participated. 
			As a reminder, if you did not win a prize then you can write off the money you paid into the raffle.
		</p>
		<br />
		<br />
		<br />
		<br />
		<p>
			This highly desirable and beautifully maintained long-wheelbase Rolls Royce has been graciously donated to Texas Husky Rescue to benefit abused, neglected, and unwanted huskies. Each ticket sold has a 1 in 1000 chance at winning this luxurious classic car.
		</p>
		<p>
			Just a few of the long list of updates to this car are:
			<div style="padding-left: 20px;">
				<ul>
					<li>Automatic transmission rebuilt</li>
					<li>Rear suspension rams and height control valves removed and rebuilt</li>
					<li>Carburetors removed and rebuilt</li>
					<li>Power steering box rebuilt</li>
					<li>All interior woodwork removed and refinished (detailed marquetry of Burled Walnut crossbanded with English Ash)</li>
					<li>Cockpit carpets replaced with original Wilton carpets bound in leather</li>
					<li>Dash top removed and all wiring connections cleaned</li>
					<li>A/C compressor replaced with new unit</li>
					<li>Electric door locks and windows serviced</li>
				</ul>
			</div>
		</p>
	</div>

	<!-- Sidebar -->
	<!-- This is source ordered to be pulled to the left on larger screens -->
	<div class="large-3 columns">
		<p>
			<img src="~/Content/Images/Controllers/Events/Raffle/sIMG_1289.jpg" />
		</p>
	</div>
</div>

