@{
    ViewBag.Title = "RafflePrizes";
}
@Styles.Render("~/bundles/events/raffle/css")
@section JavaScript
{
	@Scripts.Render("~/bundles/events/raffle/js")
}
@Html.Partial("RaffleMenu")
<h2>RafflePrizes</h2>
