@{
	ViewBag.Title = "RaffleThankYou";
}
@Styles.Render("~/bundles/events/raffle/css")
@section JavaScript
{
	@Scripts.Render("~/bundles/events/raffle/js")
}
@Html.Partial("RaffleMenu")

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Texas Husky Rescue Rolls Royce Raffle</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p>
			Thank you for purchasing a raffle ticket through Texas Husky Rescue, Inc.  
			By doing so, you are helping to support abused, neglected and unwanted huskies in and around Texas.  
			You will receive a certificate via email in the next 24-48 hours, which will include your official ticket number.  
			If you do not receive this certificate or if you have any questions, please feel free to contact us directly at <a href="mailto:raffle@texashuskyrescue.org">raffle@texashuskyrescue.org</a>.
		</p>
		<p>
			Thank you,<br />
			Texas Husky Rescue Raffle Committee<br />
			1-877-TX-HUSKY (894-8759) (phone/fax)<br />
			PO Box 118891, Carrollton, TX 75011
		</p>
	</div>
</div>
