<link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>

<!--[if gte IE 9]>
  <style type="text/css">
	.gradient {
	   filter: none;
	}
  </style>
<![endif]-->

<div class="row back backShadow">
	<div class="large-4 columns show-for-medium-up ">
		<div style="position: relative;">
			<img class="centerImg" src="~/Content/Images/Controllers/Events/Raffle/IMG_11284_small.png" />
		</div>
	</div>
	<div class="large-4 columns">
		<div class="centerArea">
			Classic Luxury Car Raffle<br />
			Benefiting
		
			<br />
			Texas Husky Rescue<br />
			<div>Time to End of Raffle</div>
			<div id="divCountdown" class="countdown"></div>
		</div>
	</div>
	<div class="large-4 columns">
		<div style="position: relative;">
			<img class="centerImg" src="~/Content/Images/Controllers/Events/Raffle/Rolls_royce_small.png" />
		</div>
	</div>

</div>
<br />
<div class="row">
	<div class="small-8 large-8 large-centered small-centered columns" id="navcontainer">
		<ul>
			<li><a class="medium button round customButon" href="/RollsRoyce">Details</a></li>
			@*<li><a class="medium button round customButon" href="/RollsRoyce/Tickets">Buy Tickets</a></li>*@
			<li><a class="medium button round customButon" href="/RollsRoyce/Gallery">Car Details</a></li>
			<li><a class="medium button round customButon" href="/RollsRoyce/Rules">Rules</a></li>
		</ul>
	</div>
</div>
