@{
	ViewBag.Title = "RaffleFinePrint";
}
@Styles.Render("~/bundles/events/raffle/css")
@section JavaScript
{
	@Scripts.Render("~/bundles/events/raffle/js")
}

@Html.Partial("RaffleMenu")

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Rolls Royce Raffle Rules</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p>This raffle is a fundraising effort for Texas Husky Rescue, Inc., a 501(c)3 non-profit organization.  All proceeds will support abused, neglected and unwanted huskies in and around Texas.  The winner must be 18 years of age or older.  The winner need not be present at the time of the drawing to win.  Positive identification must be presented in order to claim prize.  If the winner is not present, he or she will be notified by phone or email at the contact information he or she provided on the ticket.  The winner is responsible for any federal/state/local tax or other taxes, title and licensing as well as transfer costs and any other costs of transportation and storage of the car following the drawing.  The winner must arrange for pick-up of their prize within 2 weeks of the drawing.  The winner accepts the car as is.  The winner will be announced at the official drawing on January 1, 2014.  The raffle must sell a minimum of $25,000 worth of tickets.  The drawing may be delayed until February 1, 2014, if an insufficient number of tickets are sold.  If the minimum is still not met at that time, the raffle will be cancelled and refunds will be issued for all purchased tickets.  Purchased tickets are tax deductible, except to those who claim a prize.  By entering the raffle, each ticket purchaser grants Texas Husky Rescue, Inc. permission to use his or her name for advertising purposes should he or she be declared the winner.  Texas Husky Rescue, Inc.'s Board of Directors are not eligible to participate.  Texas Husky Rescue, Inc. reserves the right to withdraw this offer at any time with a full refund.  Void where prohibited by law. </p>
	</div>
</div>
