@{
    ViewBag.Title = "UploadFile";
}

@Styles.Render("~/bundles/fileupload/css")
@Scripts.Render("~/bundles/fileupload/js")

<div class="main-container">
	<div class="container1">
		<div id="header1">
			<p id="tagline1">
				<strong>Upload Test</strong>
			</p>
		</div>
		<p>
			There are various options available to you when using Fine Uploader.  In this example, I've used a
			small subset of these options to create an uploader with custom upload button text, restricted to one
			file upload/selection at once (may not select multiple files), restricted to <code>jpeg</code>, <code>jpg</code>, and <code>txt</code> files,
			and restricted to a max file size of 50 kb.
		</p>
		<div id="fineUploaderElementId" class=""></div>
	</div>
</div>
