@using HuskyRescue.Core.Service;
@{
	var rescueCountHandler = new RescueCountHandler();
	var numberOfHuskies = rescueCountHandler.Count;
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>About Us</h3>
	</div>
</div>
<div class="main-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<div style="margin-top: 20px">
				<img class="imgl" src="~/Content/images/Controllers/Info/AboutUs/AdoptionEvent_04.jpg" width="250" />
				<h6>Mission Statement</h6>
				<p>
					To rescue, rehabilitate, and find qualified loving homes for neglected, abused, and unwanted Huskies throughout Texas and beyond. To educate the public
				about responsible pet ownership and the special qualities of the Siberian Husky Breed.
				</p>
			</div>
			<div class="ul-wrap">
				<img class="imgl" src="~/Content/images/Controllers/Info/AboutUs/AdoptionEvent_01.jpg" width="250" />
				<h6>Vision</h6>
				<ul>
					<li>Rescue approximately 175 huskies</li>
					<li>Be an advocate for huskies and responsible pet ownership by educating the public about the unique characteristics of the breed and the importance of spaying/neutering
					their pets</li>
					<li>Rescue and rehabilitate huskies with behavioral, medical, and physical ailments whenever logistically and financially feasible</li>
					<li>Increase Texas Husky Rescue, Inc's. exposure in the community by conducting and attending public events on a regular basis</li>
					<li>Increase our involvement with and availability to our network of Fosters and Volunteers</li>
					<li>Increase our network of Foster Homes and minimize the need to house Foster Dogs in boarding facilities</li>
				</ul>
			</div>
			<div>
				<img class="imgl" src="~/Content/images/Controllers/Info/AboutUs/FaceShot_13.jpg" width="250" />
				<h6>History</h6>
				<p>
					Texas Husky Rescue, Inc. was created in May 2009 as a non-profit 501(c)3 animal rescue organization that is run entirely by volunteers and does not have
				a paid staff or a shelter. Texas Husky Rescue, Inc relies solely on volunteer foster families to take huskies into their homes until permanent, qualified,
				and loving homes can be found. Texas Husky Rescue, Inc. is a responsible animal adoption agency and requires that all dogs over 6 months are spayed/neutered
				prior to adoption. We ensure that none of our dogs will ever contribute to the overpopulation of dogs in our community. The work of Texas Husky Rescue,
				Inc. is supported by tax-deductible contributions by individuals, corporations, and grants.
				<br />
					<br />
					Our initial goal when we began in 2009 was to save 30 huskies from area shelters. We have rescued over @numberOfHuskies and counting.
				<br />
					<br />
				</p>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="large-5 small-8 small-centered columns">
			<table>
				<tr>
					<td class="page_content_left">
						<h6>Huskies Rescued</h6>
						<ul>
							<li>2009 (May-Dec): 31</li>
							<li>2010: 147</li>
							<li>2011: 170</li>
							<li>2012: 156</li>
							<li>2013: 254</li>
							<li>2014 YTD: 43</li>
						</ul>
					</td>
					<td class="page_content_left">
						<h6>Huskies Adopted</h6>
						<ul>
							<li>2009 (May-Dec): 30</li>
							<li>2010: 142</li>
							<li>2011: 181</li>
							<li>2012: 160</li>
							<li>2013: 221</li>
							<li>2014 YTD: 48</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
