@{
	ViewBag.Title = "Member";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-container">
	<div class="container1">
		<div id="header1">
			<p id="tagline1">
				<strong>Member</strong>
			</p>
		</div>
		<div style="margin-top: 60px">
			<p>
			</p>
			<br />
		</div>
		<div class="clear">
		</div>
		<div class="block">
			<ol id="" class="" style="list-style-type: none">
				<li><a href="http://mail.texashuskyrescue.org?hl=en">Email</a></li>
				<li><a href="http://docs.texashuskyrescue.org?hl=en">Drive and Documents</a></li>
				<li><a href="http://calendar.texashuskyrescue.org/?hl=en">Calendar</a></li>
			</ol>
			<div class="clear">
			</div>
		</div>
		<br />
		<div class="clear">
		</div>
	</div>
</div>
