@{
	ViewBag.Title = "All About Huskies";
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>All About Huskies</h3>
	</div>
</div>
<div class="main-wrapper">
	<div class="row">
		<div class="large-2 columns">
			<div style="min-width: 150px">
				<img class="center" src="/Content/images/Controllers/Info/ResourcesAboutHuskies/Puppy_05.jpg" width="250" />
			</div>
		</div>
		<div class="large-8 columns">
			<div class="page_content content_overflow">
				<p>
					If you're not already familiar with Siberian Huskies, please take a moment to visit the following websites to see if a Siberian Husky would be a good
				match for your family at this time.
				</p>
				<br />
				<ul id="">
					<li><a href="http://www.shca.org/shcahp2b.htm" target="_blank"><strong>About Huskies </strong>from The Siberian Husky Club of America, Inc.</a></li>
					<li><a href="http://www.sibes.com/about-siberians/" target="_blank"><strong>Breed information </strong>from MaPaw Siberian Huskue Rescue & Referral Services,
					Inc.</a></li>
					<li><a href="http://www.siberescue.com/breed/personality.php" target="_blank"><strong>Types of Huskies </strong>by Tails of the Tundra Siberian Husky
					Rescue, Inc</a></li>
				</ul>
			</div>
		</div>
		<div class="large-2 columns">
			<div style="min-width: 150px">
				<img class="center" src="/Content/images/Controllers/Info/ResourcesAboutHuskies/Pose_12.jpg" width="250" />
			</div>
		</div>
	</div>
</div>


