@{
	ViewBag.Title = "ResourcesHuskyRescues";
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Other Husky Rescues</h3>
	</div>
</div>
<div class="main-wrapper">
	<div class="row">
		<div class="large-9 columns">
			<ul id="">
				<li><a href="http://carolkleckner.net/" target="_blank">Alaska - Fairbanks Husky Rescue</a></li>
				<li><a href="http://www.ashra.org/" target="_blank">Arizona - Arizona Siberian Husky Rescue</a></li>
				<li><a href="http://www.bayareasiberian.org" target="_blank">California - Bay Area Siberian Husky Club</a></li>
				<li><a href="http://www.huskycamp.com/" target="_blank">California - Husky Camp Siberian Husky Rescue</a></li>
				<li><a href="http://www.shrrca.com/" target="_blank">California - Siberian Husky Rescue/Referral</a></li>
				<li><a href="http://www.huskyhavenofla.org/" target="_blank">California - Husky Haven of L.A.</a></li>
<<<<<<< HEAD
				<li><a href="http://www.polarishuskyrescue.com/" target="_blank">Colorado - Polaris (or the North Star) Siberian Husky Rescue</a></li>
				<li><a href="http://www.siberianhuskyrescue.org" target="_blank">Delaware - Delaware Valley Siberian Husky Rescue, Inc</a></li>
=======
				<li><a href="http://www.NorthStarHuskyRescue.org/" target="_blank">Colorado - North Star Siberian Husky Rescue</a></li>
				<li><a href="http://www.siberianhuskyrescue.org/" target="_blank">Delaware - Delaware Valley Siberian Husky Rescue, Inc</a></li>
>>>>>>> release/v0.2.5
				<li><a href="http://www.siberrescue.com/" target="_blank">Florida - Siberian Husky Rescue of Florida, Inc</a></li>
				<li><a href="http://www.sibrescue.com/" target="_blank">Florida - South Florida Siberian Husky Rescue, Inc</a></li>
				<li><a href="http://www.huskyrescue.org/" target="_blank">Illinois - Free Spirit Husky Rescue</a></li>
				<li><a href="http://www.mushr.org/" target="_blank">Minnesota - Minnesota’s Unwanted Siberian Husky Rescue</a></li>
				<li><a href="http://www.taysiablue.com/" target="_blank">Nebraska - Taysia Blue Siberian Husky Rescue</a></li>
				<li><a href="http://www.nmsiberianrescue.com/" target="_blank">New Mexico - Siberian Husky Rescue of New Mexico, Inc</a></li>
				<li><a href="http://www.ebahuskyrescue.com/" target="_blank">New York - Epic Blue Acres Siberian Husky Rescue</a></li>
				<li><a href="http://www.southernsiberian.com/" target="_blank">North Carolina - Southern Siberian Rescue</a></li>
				<li><a href="http://www.sibes.com/" target="_blank">Pennsylvania - MaPaw Siberian Husky Rescue and Referral Service, Inc.</a></li>
				<li><a href="http://www.huskyhaven.org/" target="_blank">Texas - Husky Haven</a></li>
<<<<<<< HEAD
=======
				<li><a href="http://www.texassleddogrescue.org/" target="_blank">Texas - Texas Sled Dog Rescue</a></li>
>>>>>>> release/v0.2.5
				<li><a href="http://www.shinerescue.org/" target="_blank">Virginia - Siberian Huskies In Need Everywhere</a></li>
				<li><a href="http://www.adoptahusky.com/" target="_blank">Mid West - Adopt A Husky, Inc</a></li>
				<li><a href="http://www.siberescue.com/" target="_blank">New England - Tails of the Tundra Siberian Husky Rescue</a></li>
				<li><a href="http://www.siberianrescue.com/shcamiss.htm" target="_blank">USA - Siberian Husky Club of America</a></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<div style="min-width: 240px">
				<img class="center" src="~/Content/images/Controllers/Info/ResourcesHuskyRescues/Pose_13.jpg" />
			</div>
		</div>
	</div>
</div>

