@section JavaScript{
	<script type="text/javascript">
		$(document).foundation('equalizer', 'reflow');
	</script>
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Sponsors</h3>
	</div>
</div>
<div class="row" data-equalizer>
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.proplan.com/rally-to-rescue" target="_blank">Pro Plan® Rally to Rescue®</a>
				</li>
				<li>
					1-800-PROPLAN
				</li>
				<li>
					<a href="http://twitter.com/ProPlan" target="_blank">twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/rallytorescue" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.crossroadspethospital.vetsuite.com/" target="_blank">Crossroads Pet Hospital</a>
				</li>
				<li>
					972-416-4060
				</li>
				<li>
					2404 E Trinity Mills Rd #100a, Carrollton, TX, 75006
				</li>
				<li>
					<a href="mailto:crossroadspet@yahoo.com">crossroadspet@yahoo.com</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.animalhospitalteasley.com/" target="_blank">Animal Hospital on Teasley Lane</a>
				</li>
				<li>
					940-382-6939
				</li>
				<li>
					3517 Teasley Ln, Denton, TX, 76210
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" data-equalizer>
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.petco.com" target="_blank">Petco</a>
				</li>
				<li>
					817-424-8460
				</li>
				<li>
					1250 William D. Tate Avenue, Grapevine, TX, 76051
				</li>
				<li>
					<a href="http://twitter.com/PETCO" target="_blank">twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/PETCO" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.dovecreekanimalhospital.com/" target="_blank">Dove Creek Animal Hospital</a>
				</li>
				<li>
					940-387-3313
				</li>
				<li>
					1200 Bent Oaks Court, Denton, TX, 76210
				</li>
				<li>
					<a href="mailto:dovecreekanimalhospital@hotmail.com">dovecreekanimalhospital@hotmail.com</a>
				</li>
				<li>
					<a href="https://www.facebook.com/DoveCreek" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://creeksideanimalhospital.net/" target="_blank">Creekside Animal Hospital</a>
				</li>
				<li>
					817-481-8112
				</li>
				<li>
					5601 New York Avenue, Arlington, TX, 76018
				</li>
				<li>
					<a href="mailto:creekside@flash.net">creekside@flash.net</a>
				</li>
				<li>
					<a href="https://www.facebook.com/CreeksideAnimalHospital.Arlington.TX" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" data-equalizer>
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://doggieswonderland.com" target="_blank">Doggie's Wonderland<</a>
				</li>
				<li>
					972-745-9100
				</li>
				<li>
					120 E. Bethel School Rd, Coppell, TX, 75019
				</li>
				<li>
					<a href="mailto:dwcoppell@gmail.com">dwcoppell@gmail.com</a>
				</li>
				<li>
					<a href="https://twitter.com/DoggiesWonder" target="_blank">twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/pages/Doggies-Wonderland-Coppell-Daycare-and-Boarding/187409401282881" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.petfoster.org" target="_blank">Pet Foster Network</a>
				</li>
				<li>
					919-425-2330
				</li>
				<li>
					70 South Winooski Ave #313, Burlington, VT, 05401
				</li>
				<li>
					<a href="mailto:info@petfoster.org">info@petfoster.org</a>
				</li>
				<li>
					<a href="https://www.facebook.com/Petfoster.org" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://redvelvetinn.com" target="_blank">Red Velvet Inn</a>
				</li>
				<li>
					979-777-5584
				</li>
				<li>
					803 S. La Salle, Navasota, TX, 77868
				</li>
				<li>
					<a href="mailto:denise@redvelvetinn.com">denise@redvelvetinn.com</a>
				</li>
				<li>
					<a href="https://twitter.com/redvelvetinn" target="_blank">twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/RedVelvetInn" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" data-equalizer>
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.dirtydawgz.net" target="_blank">Dirty Dawgz<</a>
				</li>
				<li>
					972-386-8175
				</li>
				<li>
					14902 Preston Rd Suite 722, Dallas, TX, 75254
				</li>
				<li>
					<a href="https://www.facebook.com/pages/Dirty-Dawgz/276988652641" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
				@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://nineonedesign.com" target="_blank">91 Design</a>
				</li>
				<li>
					817-726-6706
				</li>
				<li>
					Colleyville, TX, 76034
				</li>
				<li>
					<a href="mailto:nineonedesign@verizon.net">nineonedesign@verizon.net</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.aggielandanimalhealthcenter.com/" target="_blank">Aggieland Animal Health Center<</a>
				</li>
				<li>
					979-764-PETS (7387)
				</li>
				<li>
					13223 FM2154 (Wellborn Rd.), College Station, TX 77845
				</li>
				<li>
					<a href="https://www.facebook.com/pages/Aggieland-Animal-Health-Center-Pet-Resort/258073802231" target="_blank">facebook</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" data-equalizer>
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="http://www.callaghanroadanimalhospital.com/" target="_blank">Callaghan Road Animal Hospital<</a>
				</li>
				<li>
					210-647-1101
				</li>
				<li>
					5739 Callaghan Road, Suite 101, San Antonio, TX 78228
				</li>
				<li>
					<a href="mailto:info@callaghanroadanimalhospital.com">info@callaghanroadanimalhospital.com</a>
				</li>
				<li>
					<a href="https://www.facebook.com/pages/Callaghan-Road-Animal-Hospital/151209618270525" target="_blank">facebook</a>
				</li>
				<li>
					<a href="https://twitter.com/callaghanroadan" target="_blank">twitter</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="#" target="_blank">Your Business Here</a>
				</li>
				<li>
					<a href="mailto:contact@texashuskyrescue.org">Contact us about sponsoring TXHR</a>
				</li>
			</ul>
		</div>
	</div>

	
	<div class="large-4 small-6 columns">
		<div class="panel radius" data-equalizer-watch>
			<ul class="no-bullet">
@*				<li>
					<img height="80" width="250" src="~/Content/Images/Controllers/Info/Sponsors/rallytorescue.jpg" alt="Pro Plan® Rally to Rescue®"/>
				</li>*@
				<li>
					<a href="#" target="_blank">Your Business Here</a>
				</li>
				<li>
					<a href="mailto:contact@texashuskyrescue.org">Contact us about sponsoring TXHR</a>
				</li>
			</ul>
		</div>
	</div>
</div>
