<div class="row">
	<div class="large-12 columns text-center">
		<h3>The Texas Husky Rescue Online Store</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<script src="https://www-sgw-opensocial.googleusercontent.com/gadgets/ifr?url=https%3A%2F%2Fstoregadgetwizard.appspot.com%2Fservlets%2FgadgetServlet%3Fkey%3D0AozxQO0mczt2dGVaRDl0Vzh1QVpHcnk5emtPVnpPaFE%26mid%3D823773403959546%26currency%3DUSD%26sandbox%3Dtrue%26gadget%3DLARGE&amp;container=storegadgetwizard&amp;w=100%&amp;h=500&amp;title=&amp;brand=none&amp;output=js"></script>
	</div>
</div>
