@{
	ViewBag.Title = "Change Password";
}
<div class="main-container">
	<div class="container1">

		<div id="header1">
			<p id="tagline1">
				<strong>Change Password</strong>
			</p>
		</div>

		<p>
			Your password has been changed successfully.
		</p>
	</div>
</div>
