@model SecurityGuard.ViewModels.ForgotPasswordViewModel

@{
	ViewBag.Title = "Forgot Password Success";
}
<div class="main-container">
	<div class="container1">

		<div id="header1">
			<p id="tagline1">
				<strong>Password Reset Success</strong>
			</p>
		</div>


		<p>Your new password has been emailed to you.</p>

		<p>@Html.ActionLink("Login", "Login", "SGAccount")</p>

	</div>
</div>
