<div class="row">
	<div class="large-12 columns text-center">
		<h3>Donations</h3>
	</div>
</div>
<div class="main-wrapper">
	<div class="row">
		<div class="large-12 columns">
			<p>
				TXHR is a volunteer based organization, and we rely solely on donations to continue our work. Any amount is welcomed, and as a 501(c)3 organization, your
				donation is tax deductible. We can provide a tax receipt if necessary.
			</p>
			<p>
				Monetary donations can be made by mail (check or money order), in person to a Board Member, or by Paypal.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div style="position: relative;">
				<img class="" src="~/Content/images/Controllers/Info/Donate/FaceShot_30.jpg" style="float: left;" />
				<img class="" src="~/Content/images/Controllers/Info/Donate/HuskyPlay_03.jpg" style="float: left;" />
				<img class="" src="~/Content/images/Controllers/Info/Donate/Puppy_03.jpg" style="float: left;" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-4 small-6 small-centered columns text-center">
			<h6 class="subheader">
				@Html.ActionLink("Click Here to Donate Directly to Texas Husky Rescue", "Donate", "Donation", new { @class = "button" })
			</h6>
		</div>
	</div>
	<div class="row">
		<div class="large-4 small-6 small-centered columns text-center">
			<h6 class="subheader">Donate via PayPal</h6>
			<p>
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RNTPPJFU4E666" target="_blank">
					<img alt="" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" style="display: block; margin-left: auto; margin-right: auto;" />
				</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<p>Where do donations and adoption fees go?</p>
			<ul>
				<li>$18 for each heartworm test</li>
				<li>$42 for yearly vaccinations for one dog</li>
				<li>$100 for one spay/neuter</li>
				<li>$70 for one week of boarding for one dog who we don't have a foster for</li>
				<li>$360 for one dog to have heartworm treatment</li>
			</ul>
			<br />
			<p>
				Item donations - If you wish to help by donating supplies, the following are always needed:
		
			</p>
			<ul>
				<li>Wire crates in Large or Extra Large sizes</li>
				<li>Medium or Large 1" nylon dog collars and leashes</li>
				<li>Frontline Plus flea treatment - 45-88 lb size</li>
				<li>Heartworm Pills - medium and large dog dosage</li>
				<li>Gift cards to PetSmart or Petco</li>
				<li>TXHR takes in dogs from all over Texas, and sometimes beyond. Gas prices continue to soar, so donations of gas cards in $10-$20 increments would help
					some of our volunteers with transportation costs. </li>
			</ul>
		</div>
	</div>
</div>
