<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HuskyRescue.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <HuskyRescue.Core.Properties.Settings>
      <setting name="ContactEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="PetFinderKey" serializeAs="String">
        <value>10e4ba235bc33bb0a548fe18c9e557f4</value>
      </setting>
      <setting name="PetFinderSecret" serializeAs="String">
        <value>460e99aa95c84a94a92fc0f9fa306dab</value>
      </setting>
      <setting name="AdminEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="AdoptionApplicationLocation" serializeAs="String">
        <value>/Forms/addoptionapplication.pdf</value>
      </setting>
      <setting name="FosterApplicationLocation" serializeAs="String">
        <value>/Forms/fosterapplication.pdf</value>
      </setting>
      <setting name="FundraisingEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="RaffleEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="BrainTreeMerchantID" serializeAs="String">
        <value>sv97kx3h33r9g7xd</value>
      </setting>
      <setting name="BrainTreePublicKey" serializeAs="String">
        <value>8t8p2x7j2mm8cqr7</value>
      </setting>
      <setting name="BrainTreePrivateKey" serializeAs="String">
        <value>c0d2f2b49050183746c590597a9c58a2</value>
      </setting>
      <setting name="BrainTreeEnvironment" serializeAs="String">
        <value>SANDBOX</value>
      </setting>
      <setting name="PathToGeneratedAdoptionApplications" serializeAs="String">
        <value>~/App_Data/AdoptionApps</value>
      </setting>
      <setting name="PathToGeneratedFosterApplications" serializeAs="String">
        <value>~/App_Data/FosterApps</value>
      </setting>
      <setting name="IntakeEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="WebEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="GolfEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
      <setting name="RescueGroupsUri" serializeAs="String">
        <value>https://api.rescuegroups.org/http/json</value>
      </setting>
      <setting name="RescueGroupsApiKey" serializeAs="String">
        <value>c3Lhuc6b</value>
      </setting>
      <setting name="RoughRiderEmail" serializeAs="String">
        <value>web@texashuskyrescue.org</value>
      </setting>
    </HuskyRescue.Core.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
