<nlog throwExceptions="true" internalLogFile="logInternal.txt" internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--<extensions>
		<add assembly="Harvester.Integration.NLog, Version=1.1.188.834, Culture=neutral, PublicKeyToken=2335e074c59acad6"/>
	</extensions>-->
	<targets>
		<target xsi:type="AsyncWrapper" name="logfile" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
				  fileName="${basedir}/Logs/this.Log-NLog.log"
				  layout="${longdate} ${threadid} [${level:uppercase=true}] ${message}"
              />
		</target>
		<target name="errorSmtp" xsi:type="Mail"
			layout="${longdate} ${threadid} [${level:uppercase=true}] ${logger} - ${message}"
			subject="Error on TXHR"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="web@texashuskyrescue.org"
            smtpPassword="c47fi5hing"
            enableSsl="true"
            from="web@texashuskyrescue.org"
            to="jbolton@texashuskyrescue.org"
          />
		<target xsi:type="NLogViewer" name="sentinal" address="udp://127.0.0.1:9999"/>
		<!--<target xsi:type="Harvester" name="Harvester" />-->
		<target xsi:type="OutputDebugString" name="Harvester" layout="Log4JXmlEventLayout">
			<layout xsi:type="Log4JXmlEventLayout" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="errorSmtp" />
		<logger name="*" minlevel="Trace" writeTo="sentinal" />
	    <logger name="*" minlevel="Trace" writeTo="Harvester" />
	</rules>
</nlog>