<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="Braintree" version="2.30.0" targetFramework="net45" />
  <package id="BrockAllen.IdentityReboot" version="1.0.0-rtm-140311" targetFramework="net45" />
  <package id="BrockAllen.IdentityReboot.Ef" version="1.0.0-rtm-140311" targetFramework="net45" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net45" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.93" targetFramework="net45" />
  <package id="Fabrik.Common" version="1.0.8-pre" targetFramework="net45" />
  <package id="Fabrik.Common.Web" version="1.0.8-pre" targetFramework="net45" />
  <package id="foolproof" version="0.9.4517" targetFramework="net45" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Calendar" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net45" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.0" targetFramework="net45" />
  <package id="LinqToCsv" version="1.5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Extended" version="4.0.0.1" targetFramework="net45" />
  <package id="NLog.Mvc" version="1.0.8" targetFramework="net45" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="WebActivator" version="1.2.0.0" targetFramework="net45" />
</packages>