@using HuskyRescue.Web.Infrastructure.Extensions;
@model List<HuskyRescue.Core.ViewModel.Entity.Applicant>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}
<fieldset>
	<legend>Foster Applications</legend>
	<div class="main-container">
		<div class="container1">
			<div id="header1">
				<p id="tagline1">
					<strong>Foster Applications</strong>
				</p>
			</div>
			<div id="divExpenseList">    
				@Html.Partial("FosterApplicationList", Model)
			</div>
			<p>
				@Html.ActionLink("Create New Application", "Apply")
			</p>
		</div>
	</div>
</fieldset>