@model System.Web.Mvc.HandleErrorInfo
@{
	//ViewBag.Title = "Error";
}
<fieldset>
	<legend>Error</legend>
	<div class="main-container">
		<div class="container1">
			<h2>
				Sorry, an error occurred while processing your request. This has been logged and emailed to the site administrator.
			</h2>
			<table>
				<tr>
					<td class="editor-label">
						@ViewData["Title"]
					</td>
				</tr>
				<tr>
					<td class="editor-label">
						@ViewData["Description"]
					</td>
				</tr>
			</table>
		</div>
	</div>
</fieldset>
