<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=TXHRDC\SQLSERVER2012; Initial Catalog=huskyrescue_test;User ID=huskyrescue_test; Password=6M4GZAvBvhbemkf" providerName="System.Data.SqlClient"
				 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		<add name="HuskyRescueEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TXHRDC\SQLSERVER2012; Initial Catalog=huskyrescue_test;User ID=huskyrescue_test; Password=6M4GZAvBvhbemkf; MultipleActiveResultSets=True; Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"
				 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		<add name="LoggingContext" connectionString="Data Source=TXHRDC\SQLSERVER2012; Initial Catalog=huskyrescue_test;User ID=huskyrescue_test; Password=6M4GZAvBvhbemkf; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"
				 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<applicationSettings>
		<HuskyRescue.Core.Properties.Settings>
			<setting name="GolfEmail" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>golf@texashuskyrescue.org</value>
			</setting>
		</HuskyRescue.Core.Properties.Settings>
	</applicationSettings>

</configuration>

