@{
	ViewBag.Title = "BoardInfo";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>TXHR Contact List</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="">
			<thead>
				<tr>
					<td>Topic</td>
					<td>Primary Contact Email</td>
					<td>Board Sponsor</td>
					<td>Contact Information</td>
				</tr>
			</thead>
			<tbody
				<tr>
					<td>Emergency Contact</td>
					<td><a href="mailto:board@texashuskyrescue.org">board@texashuskyrescue.org</a></td>
					<td>Leisha Adams</td>
					<td><a href="mailto:leisha@texashuskyrescue.org">leisha@texashuskyrescue.org</a> / 972-859-9254</td>
				</tr>
				<tr>
					<td>Medical</td>
					<td><a href="mailto:medical@texashuskyrescue.org">medical@texashuskyrescue.org</a></td>
					<td>Courtney Cochrane</td>
					<td><a href="mailto:courtney@texashuskyrescue.org">courtney@texashuskyrescue.org</a> / 972-989-2527</td>
				</tr>
				<tr>
					<td>Intake</td>
					<td><a href="mailto:intake@texashuskyrescue.org">intake@texashuskyrescue.org</a></td>
					<td>Cate Connors</td>
					<td><a href="mailto:cate@texashuskyrescue.org">cate@texashuskyrescue.org</a> / 314-518-9725</td>
				</tr>
				<tr>
					<td>Fosters</td>
					<td><a href="mailto:foster@texashuskyrescue.org">foster@texashuskyrescue.org</a></td>
					<td>Cate Connors</td>
					<td><a href="mailto:cate@texashuskyrescue.org">cate@texashuskyrescue.org</a> / 314-518-9725</td>
				</tr>
				<tr>
					<td>Adoptions</td>
					<td><a href="mailto:adopt@texashuskyrescue.org">adopt@texashuskyrescue.org</a></td>
					<td>Cecily Miller</td>
					<td><a href="mailto:cecily@texashuskyrescue.org">cecily@texashuskyrescue.org</a> / 214-364-8191</td>
				</tr>
				<tr>
					<td>Applications</td>
					<td><a href="mailto:apps@texashuskyrescue.org">apps@texashuskyrescue.org</a></td>
					<td>Cecily Miller</td>
					<td><a href="mailto:cecily@texashuskyrescue.org">cecily@texashuskyrescue.org</a> / 214-364-8191</td>
				</tr>
				<tr>
					<td>Events</td>
					<td><a href="mailto:events@texashuskyrescue.org">events@texashuskyrescue.org</a></td>
					<td>Patty Hasselman</td>
					<td><a href="mailto:patty@texashuskyrescue.org">patty@texashuskyrescue.org</a> / 562-234-6208</td>
				</tr>
				<tr>
					<td>Volunteering</td>
					<td><a href="mailto:volunteerhelp@texashuskyrescue.org">volunteerhelp@texashuskyrescue.org</a></td>
					<td>Patty Hasselman</td>
					<td><a href="mailto:patty@texashuskyrescue.org">patty@texashuskyrescue.org</a> / 562-234-6208</td>
				</tr>
				<tr>
					<td>Fundraising</td>
					<td><a href="mailto:fundraising@texashuskyrescue.org">fundraising@texashuskyrescue.org</a></td>
					<td>Mary Bolton</td>
					<td><a href="mailto:mary@texashuskyescue.org">mary@texashuskyescue.org</a> / 214-707-6341</td>
				</tr>
				<tr>
					<td>Outreach</td>
					<td><a href="mailto:outreach@texashuskyrescue.org">outreach@texashuskyrescue.org</a></td>
					<td>James Bolton</td>
					<td><a href="mailto:james@texashuskyrescue.org">james@texashuskyrescue.org</a> / 214-275-9503</td>
				</tr>
				<tr>
					<td>Website (not related to dog updates)</td>
					<td><a href="mailto:web@texashuskyrescue.org">web@texashuskyrescue.org</a></td>
					<td>James Bolton</td>
					<td><a href="mailto:james@texashuskyrescue.org">james@texashuskyrescue.org</a> / 214-275-9503</td>
				</tr>
				<tr>
					<td>Email/Calendar/Drive</td>
					<td><a href="mailto:admin@texashuskyrescue.org">admin@texashuskyrescue.org</a></td>
					<td>Jonathan Matthewsk</td>
					<td><a href="mailto:Jonathan@texashuskyrescue.org">Jonathan@texashuskyrescue.org</a></td>
				</tr>
				<tr>
					<td>Dog Updates</td>
					<td><a href="mailto:update@texashuskyrescue.org">update@texashuskyrescue.org</a></td>
					<td>Susan Mynyk</td>
					<td><a href="mailto:smynyk@texashuskyrescue.org">smynyk@texashuskyrescue.org</a></td>
				</tr>
				<tr>
					<td>Dog Crate Tracking</td>
					<td><a href="mailto:christi.heal@texashuskyrescue.org">christi.heal@texashuskyrescue.org</a></td>
					<td>Christi Heal</td>
					<td><a href="mailto:christi.heal@texashuskyrescue.org">christi.heal@texashuskyrescue.org</a></td>
				</tr>
				<tr>
					<td>General Questions</td>
					<td><a href="mailto:contact@texashuskyrescue.org">contact@texashuskyrescue.org</a></td>
					<td>Entire Board of Directors</td>
					<td><a href="mailto:board@texashuskyrescue.org">board@texashuskyrescue.org</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

