@{
	ViewBag.Title = "MemberInfo";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>Volunteer Information</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<p><strong>Below you will fined information to help you with your TXHR account and who to email for various topics.</strong></p>
		<p><a href="~/forms/Feb 2013 Volunteer Meeting.pptx">Feb 2013 Volunteer Meeting Presentation</a></p>
		<p>
			When signing into the sites below take note:
for any site that ends with texashuskyrescue.org your username is everything before the @@ in your email; for example, mine is jbolton
You can get to the same place by using google.com and your username is your entire email address; for example, I use jbolton@texashuskyrescue.org
		</p>
		<br />
		<p>
			Our email/calendar/document services are provided free of charge from Google via <a href="http://www.google.com/nonprofits/products/">Google Apps for Non-Profits</a>.
		</p>
		<p>
			You can make use of Google Apps for desktop if you are using Windows on your computer by downloading and installing <a href="https://tools.google.com/dlpage/gappssync">this</a>. This provides Exchange like services for Outlook on Windows computers using your TXHR email account. 
		</p>
		<br />
		<br />
		<h6>Email access</h6>
		<ul class="indent">
			<li><a href="http://mail.texashuskyrescue.org">http://mail.texashuskyrescue.org</a></li>
			<li><a href="http://mail.google.com">http://mail.google.com</a></li>
		</ul>
		<br />
		<p>
			You get about 30GBs of storage - you can see the % used at the bottom of the website. 
				I recommend looking through the settings of the email (click the gear icon on the right hand side at the top) to see what all you can change related to your account. 
				Feel free to make any changes you want. If you want to forward your email to your personal account then you can do that via the settings but please respond to emails using your txhr account. 
		</p>
		<br />
		<br />
		<h6>Documents/Drive</h6>
		<ul class="indent">
			<li><a href="http://docs.texashuskyrescue.org">http://docs.texashuskyrescue.org</a></li>
			<li><a href="http://drive.google.com">http://drive.google.com</a></li>
		</ul>
		<br />
		<br />
		<h6>Calendar</h6>
		<ul class="indent">
			<li><a href="http://calendar.texashuskyrescue.org">http://calendar.texashuskyrescue.org</a></li>
			<li><a href="http://google.com/calendar">http://google.com/calendar</a></li>
		</ul>
		<br />
		<br />

		<h6>Chat/IM</h6>
		<p>You can use Google chat through your email (see left side of your email in your computer's browser) or the sand alone application Google Talk (<a href="http://www.google.com/talk/">download here</a>). You can chat with other TXHR members and anyone with a google account.</p>
		<br />
		<p>Others: You can use your TXHR account with any other Google service: Picasa, Blogger, Google+, etc.</p>
		<br />
		<p>Email on your phone or desktop application (Outlook): <a href="http://support.google.com/mail/bin/answer.py?hl=en&ctx=mail&answer=75726">support.google.com</a></p>
		<p>
			You will use the Google servers (imap.google.com and smtp.google.com) if asked - Texas Husky does not have our own email servers so do not use imap/smtp/mail .texashuskyrescue.org).
User name for your email is your full email address
		</p>
		<br />
		<br />
		<h6>Multiple Google Account Signin</h6>
		<p>
			If you use gmail for personal accounts then you can be signed into that and the texas husky account at the same time. 
				Sign into your personal account first and then you can follow the steps in the following link to sign into many more accounts 
				(I usually have 6 at a time): <a href="http://support.google.com/accounts/bin/answer.py?hl=en&answer=1721977">support.google.com</a>
		</p>
	</div>
</div>

