@{
    ViewBag.Title = "OrgChart";
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

<div class="row">
	<div class="large-12 columns text-center">
		<h3>TXHR Organization Chart</h3>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<img src="~/forms/TXHR%20Org%20Chart.png" />
	</div>
</div>
