@model HuskyRescue.Core.ViewModel.Entity.Business
@{
	Layout = "~/Views/Shared/_LayoutAdminF.cshtml";
}

@using (Html.BeginForm("Edit", "Business", FormMethod.Post, new { @id = "formBusiness", @class = "custom", @data_abide = "" }))
{
	<div class="row">
		<div class="large-12 columns text-center">
			<h3>@Html.DisplayFor(model => model.BusinessName)</h3>
		</div>
	</div>
	
		@Html.Partial("BusinessPartial", Model)
	
	<div class="row">
		<div class="large-12 columns">
			<input type="submit" value="Save" id="btnSubmit" class="button" />
		</div>
	</div>
}
